:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-pink: hsl(0, 100%, 75%);

    --vertical-gap: 50px;
    --horizontal-padding: 3vw;
}

body {
    margin: 0;
    background-color: var(--color-dark);
}
