:root {
    --color-white: #fff;
    --color-light: hsl(0,0%,90%);
    --color-light-gray: hsl(0,0%,65%);
    --color-gray: hsl(0,0%,50%);
    --color-dark-gray: hsl(0,0%,35%);
    --color-dark: hsl(0,0%,20%);
    --color-black: #000;

    --welcome-font-size: clamp(3rem, 9vw, 9rem);
    --paragraph-font-size: clamp(0.9rem, 1.2vw ,1.3rem);
    --aside-font-size: clamp(1.8rem, 3vw, 3rem);
    --footer-font-size: clamp(1.2rem, 2vw, 2rem);

    --vertical-gap: 50px;
    --horizontal-padding: 3vw;
}

body {
    width: max(500px, 100vw);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Inter, sans-serif;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

iframe {
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--color-light-gray);
}
  
::-webkit-scrollbar-thumb {
    background: var(--color-gray);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-dark-gray);
}

.background-dark {
    background-color: hsl(0,0%,10%);
}

.background-landscape1 {
    background-image: url("/background/landscape1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
}

.background-landscape2 {
    background-image: url("/background/landscape2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
}

.background-world-map {
    background-image: url("/background/world-map.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
}
