@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark: #2b2b2b;
    --color-light: #e6e6dd;
    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-transparent: hsla(0, 0%, 0%, 0);

    color: var(--color-light);
    background-color: var(--color-dark);
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.text-light {
    color: var(--color-light);
}

.text-dark {
    color: var(--color-dark);
}

.bg-light {
    background-color: var(--color-light);
}

.bg-dark {
    background-color: var(--color-dark);
}

.border-light {
    border-color: var(--color-light);
}

.border-dark {
    border-color: var(--color-dark);
}

h1,
h2,
p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

.font-1 {
    font-family: "Quicksand", sans-serif;
}

.font-2 {
    font-family: "Dosis", sans-serif;
}

.font-3 {
    font-family: "New Amsterdam", sans-serif;
}

.font-4 {
    font-family: "Anton SC", sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: var(--color-light);
}

::-webkit-scrollbar-thumb {
    background: var(--color-theme-1);
}
